.body-index {
    background-image: url(external-content.duckduckgo.jpg)
}
.body-index{
  background-size: cover;
}
.header-index{
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-style: italic;
  color: #ddebca;
  size: 140px;
  text-align: center;
}
.nav-index {
  overflow: hidden;
  background-color: #333;
  position: fixed; 
  top: 0; 
  width: 100%; 
}
.nav-index a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: floralwhite;
}
.nav-index a:hover {
  background: #a4acb6;
  color: #200bdd;
}
.main-index {
  margin-top: 20px; 
}



.nav-index{
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-style: italic;
  font-size: 36px;
  position: relative;
  color: #f7efef;
  }
  .footer-index{
    
  margin-bottom: 24px;
  overflow: hidden;
  position: fixed; 
  bottom: 0; 
  width: 100%; 
}
  
  
  .p1-about{
    
    font-style: italic;
    font-size: 20px; 
    text-shadow: #1138a5;

  }
  li{
    text-emphasis-color: blue;
    list-style-type: square;
    color: rgb(62, 110, 158);

  } 
  .nav-about {
    background-color: cadetblue;
    position: sticky;
    scroll-padding-top: 100;
  } 
  
  .box1-about{
    background-color: blanchedalmond;
  }
  .box2-about{
    background-color: rgb(166, 216, 218);
    
  }
  .box3-about{
    background-color: blanchedalmond;
  }
  .body-project{
    background-color: blanchedalmond;
  }

  
  
  .nav-about {
    overflow: hidden;
    background-color: #333;
    position: fixed; 
    top: 0; 
    width: 100%; 
  }
  .nav-about a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: floralwhite;
  }
  .nav-about a:hover {
    background: #a4acb6;
    color: #200bdd;
  }
  .main-about {
    margin-top: 20px; 
  }
  .nav-project {
    overflow: hidden;
    background-color: #333;
    position: fixed; 
    top: 0; 
    width: 100%; 
  }
  .nav-project a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: floralwhite;
  }
  .nav-project a:hover {
    background: #a4acb6;
    color: #200bdd;
  }
  
  .header-project{
    background-color: cadetblue;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-style: italic;
    color: #cadeeb;
    size: 140px;
    text-align: center;
    align-items: flex-start;
   

  }

  
